/node_modules
/public/hot
/public/uploadfiles
/public/csv
/public/json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
/dump.rdb
/storage/*.csv
/storage/h2020
phpunit.xml
QUEUES
/tests
/public/import/
/public/import/*
/public/proyectos/*
/public/pdfs/*
/public/json/*
/public/images/cabecera/*
/public/images/departamentos/*
/storage/csv/*
/storage/fonts/*
robots.txt
.env.staging
